{% block %}
    {% client %}(How is the weather in|Weather in) (?P<query>.*){% endclient %}
    {% response %}{% call call_weather: %query %}{% endresponse %}
{% endblock %}


{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}
